<% unless t3d.team_id? %> 
<div class="col-md-3 dhs8798" id="dhg7896d_<%= t3d.id %>">
	<div class="dsuy8378">
		<%= image_tag t3d.thumbnail_url(:thumbnail) %>
		<% if current_user.leader? %> 
		<div class="add_to_pro">
			<a id="add_to_pro_t3d_<%= t3d.id %>" class="btn_to_pro" remote="true">
				<i class="fa fa-plus" aria-hidden="true"></i>
			</a>
		</div>
		<% end %> 
	</div>
</div>
<% end %> 