<%= title "Upload Video Footage and After Effects Project Files " + "~ " + " KAPHOO" %>
<div class="new_form">
	<div class="new_form_content">
		<div class="frm_categories">
			<%= render 'videofxes/form' %>
		</div>
	</div>
</div>