<a class="del_brok" id="del_brok" onclick="trebroke(<%= broke.id %>)"></a>
<label for="t3d_resources_resources" class="fhft">
	<i class="fa fa-file-text" aria-hidden="true"></i>
	<p class="jijil">DELETE OLD FILE</p>
</label>