<%= title "Upload Modeling and Material " + "~ " + " KAPHOO" %>
<div class="new_form">
	<div class="new_form_content">
		<div class="frm_categories">
			<%= render 't3ds/form' %>
		</div>
	</div>
</div>