<%= title "Upload Source Codes and Plugins " + "~ " + " KAPHOO" %>
<div class="new_form">
	<div class="new_form_content">
		<div class="frm_categories">
			<%= render 'codes/form' %>
		</div>
	</div>
</div>