<li class="bokokjhk">
  <div class="hs45">
    <%= image_tag messagereviewer.user.avatar_url(:thumb), width: '25', class: "hsdgue346" %>
  </div>
  <div class="jhgsjye">
    <div class="content_chat before_<%= messagereviewer.user.id %>">
      <%= messagereviewer.content %>
    </div>
  </div>
  <div class="clear"></div>
</li>
