<a class="del_brok" id="del_brok" onclick="data_cofile(<%= cofile.id %>)"></a>
<label for="course_cokes_cokes" class="fhft">
	<i class="fa fa-file-text" aria-hidden="true"></i>
	<p class="jijil">DELETE OLD FILE</p>
</label>											
