.itm-fol {
	.sol {
		.soll {
			.img_k {
				.gdfs {
					.des {
						.trewk {
							padding-left: 30px;
							padding-right: 30px;
							padding-top: 13px;
							padding-bottom: 120px;
							color: transparent !important;
						}
						.mbfd {
							position: absolute;
							right: 0px;
							list-style: none;
							margin: 0px;
							padding: 0px;
							top: 0px;
							li {
								padding: 3px 0px;
								padding-left: 6px;
								background-color: #fff;
								.hgfp, .vo_ic {
									text-decoration: none;
									font-size: 14px;
									color: #E8E8E8;
									&:hover {
										color: #d8d8d8;
									}
								}
								.red {
									color: #ce5252 !important;
								}
								.green {
									color: #81C784 !important;
								}
							}
							li.bvt {
								border-bottom-left-radius: 3px;
							}
						}
					}
					.deskl {
						margin-top: 160px;
						margin-left: -38px;
						visibility: hidden;
						.nbto {
							position: absolute;
							border-radius: 4px;
							padding: 10px;
							width: 340px;
							min-height: 170px;
							background-color: #fff;
							-webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.1);
							-moz-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.1);
							box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.1);
							z-index: 999;
							.wytr {
								.ihgfr {
									width: 100%;
								}
							}
							.deskjg {
								.kjfr {
									margin: 0px;
									font-size: 14px;
									font-weight: 600;
									font-family: Roboto, Helvetica, Arial;
									color: #848484;
									margin-top: 10px;
									text-transform: capitalize;
								}
								.mnhg {
									font-size: 14px;
									color: #848484;
									font-family: "FuturaPT-Medium", Roboto;
									margin-top: 0px;
									margin-bottom: 2px;
								}
								.catu, .sub {
									color: #9a9ba2;
									font-family: "FuturaPT-Light", Roboto;
									font-size: 13px;
								}
							}
							.poit {
								.price {
									font-size: 24px;
									font-weight: 600;
									font-family: Roboto;
									color: #9a9ba2;
								}
							}
						}
					}
				}
			}
		}
	}
}