@media(min-width: 768px){
  .store_e {
    .hdr {
      .con_re {
        width: 100%;
        height: 350px;
        background-color: rgba(0,0,0,.4);
        .lkhf {
          width: 980px;
          .fol-ire {
            text-align: right;
            padding-top: 20px;
            .gf {
              li {
                padding-left: 20px;
              }
              li.fol {
                .jku {
                  padding: 8px 25px;
                  border-radius: 3px;
                  color: #fff;
                  background-color: #ff9e68;
                  text-decoration: none;
                  font-size: 10px;
                  font-family: 'FuturaPT-Medium', Roboto, Helvetica, Arial;
                  text-transform: uppercase;
                }
                .unfollow_btn {
                  padding: 8px 25px;
                  border-radius: 3px;
                  color: #fff;
                  text-decoration: none;
                  font-size: 10px;
                  font-family: 'FuturaPT-Medium', Roboto, Helvetica, Arial;
                  text-transform: uppercase;
                  background-color: #ff7878;
                }
                ._follow_btn {
                  padding: 8px 25px;
                  border-radius: 3px;
                  color: #fff;
                  text-decoration: none;
                  font-size: 10px;
                  font-family: 'FuturaPT-Medium', Roboto, Helvetica, Arial;
                  text-transform: uppercase;
                  background-color: #1ad372;
                }
              }
              li.hir {
                .kit {
                  background-color: #81c6ff;
                  padding: 8px 25px;
                  border-radius: 3px;
                  color: #fff;
                  text-decoration: none;
                  font-size: 10px;
                  font-family: 'FuturaPT-Medium', Roboto, Helvetica, Arial;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
    .this_wtf {
      -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.45);
      -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.45);
      box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.45);
      .fdse {
        width: 980px !important;
        .prodi {
          float: left;
          margin-top: -60px;
          img {
            border-radius: 15px;
            padding: 3px;
            background-color: #fff;
          }
        }
        .company {
          margin-top: -60px;
          padding-left: 120px;
          .comn {
            margin:0px;
            color: #fff;
            font-size: 20px;
            // font-weight: 600;
            font-family: "bebas_neuebold", Roboto, Helvetica, Arial;
            letter-spacing: 1px;
          }
          .loc {
            color: #fff;
            font-size: 15px;
            /*font-weight: 600;*/
            font-family: 'FuturaPT-Medium', Roboto, Helvetica, Arial;
          }
        }
        .sosfer {
          float: right;
          text-align: right;
          .kle {
            margin-top: -40px;
            ul {
              li {
                padding-left: 10px;
                a {
                  text-decoration: none;
                  color: #fff;
                  font-size: 15px;
                  /*font-weight: 00;*/
                  font-family: 'FuturaPT-Medium', Roboto, Helvetica, Arial;
                  text-transform: capitalize;

                }
              }
              li.dropf {
                .cfgk {
                  position: absolute;
                  list-style: none;
                  width: 110px;
                  background-color: rgba(255,255,255,.4);
                  padding: 0px;
                  li {
                    padding: 0px;
                    a {
                      padding: 5px 20px;
                      &:hover {
                        background-color: rgba(255,255,255,.5);
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .desc-hk {
          margin-top: -30px;
          padding-bottom: 20px;
          height: 60px;
          .lfgt {
            width: 38%;
            padding-right: 0px;
            .kiuq {
              .kwq {
                color: #9a9ba2;
                font-family: "FuturaPT-Medium", Helvetica, Arial, Roboto;
                font-size: 14px;

                a {
                  text-decoration: none;
                  font-family: "FuturaPT-Medium", Helvetica, Arial, Roboto;
                  font-size: 14px;
                }
              }
            }
          }
          .hdgf {
            text-align: right;
            width: 50%;
            padding-right: 0px;
            .au {
              ul{
                li {
                  text-align: center;
                  padding-left: 40px;
                  span.kif {
                    color: #848484;
                    font-family: "bebas_neuebold", Helvetica, Arial, Roboto;
                    font-size: 14px;
                    letter-spacing: .5px;
                  }
                  p.fe {
                    color: #848484;
                    font-family: "bebas_neuebold", Helvetica, Arial, Roboto;
                    font-size: 14px;
                    letter-spacing: 1px;
                  }
                  a {
                    text-decoration: none;
                    span.kif {
                      color: #848484;
                      font-family: "bebas_neuebold", Helvetica, Arial, Roboto;
                      font-size: 14px;
                      letter-spacing: .5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .lst-ptr {
        background-color: #f7f8fc;
        min-height: 250px;
        padding-bottom: 100px;
        .coirt {
          padding: 30px 0px;
          .trew {
            width: 990px;
            .bgal {
              width: 33%;
              .jwi {
                position: relative;
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 5px;
                margin-bottom: 25px;
                background: #fff;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                .img-l {
                  text-align: center;
                  img {
                    width: 100%;
                  }
                }
                .poytr {
                  img {
                    width: 65px !important;
                    padding: 2px;
                    margin-top: 10px;
                    background-color: #fff;
                    border-radius: 3px;
                    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
                  }
                }
                .nmed {
                  text-align: center;
                  .vsdt {
                    margin-top: 5px;
                    margin-bottom: 0px;
                    a {
                      text-decoration: none;
                      font-family: "bebas_neuebold", Roboto, Helvetica, Arial;
                      font-size: 18px;
                      color: #fff;
                      // letter-spacing: .5px;
                    }
                  }
                  .kj {
                    font-family: "FuturaPT-Medium", Roboto, Helvetica, Arial;
                    font-size: 14px;
                    color: #fff;
                  }
                }
                .prideq {
                  padding-top: 4px;
                  .pritr {
                    margin: 0px;
                    padding: 0px;
                    li {
                      padding: 0px;
                      .fdr {
                        font-size: 12px;
                        font-weight: normal;
                        color: #A1A1A1;
                      }
                      .hgt {
                        font-size: 11px;
                        font-family: Roboto, "FuturaPT-Book", Helvetica, Arial;
                        color: #A1A1A1;
                        // margin-left: 3px;
                        font-weight: 300;
                      }
                    }
                  }
                  .klwq {
                    .fa {
                      font-size: 12px;
                    }
                    .thk {
                      color: #0094d2;
                    }
                    .cd {
                      color: #a570ed;
                    }
                    .gh {
                      color: #61cc5d;
                    }
                    .tds {
                      color: #f76666;
                    }
                    .ft {
                      color: #f9d77d;
                    }
                    .cr {
                      color: #3949AB;
                    }
                    .pt {
                      color: #CDDC39;
                    }
                    .vd {
                      color: #43A047;
                    }
                  }
                }
                .hgre {
                  position: absolute;
                  width: 190px;
                  text-decoration: none;
                  height: 142.5px;
                  background-color: rgba(255,255,255,.0);
                  padding-top: 5px;
                  top: 10px;
                  z-index: 99;
                  opacity: 0;
                  -webkit-transition: all .3s ease-in-out;
                  -ms-transition: all .3s ease-in-out;
                  transition: all .3s ease-in-out;
                  &:hover {
                    opacity: 1;
                    .besrt {
                      visibility: visible;
                    }
                  }
                  .diy {

                    .tir {
                      a {
                        text-decoration: none;
                        padding-top: 10px;
                        padding-bottom: 119px;
                        padding-left: 50px;
                        padding-right: 54px;
                        color: transparent;
                        font-size: 13px;
                        font-family: Roboto;
                        font-weight: 300;
                      }
                    }
                  }
                  .vtre {
                    position: absolute;
                    right: -2px;
                    top: 0px;
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    z-index: 9;
                    li {
                      padding: 3px 0px;
                      padding-left: 8px;
                      background-color: #fff;
                      a {
                        text-decoration: none;
                        font-size: 12px;
                        font-weight: normal;
                        color: #E8E8E8;
                        &:hover {
                          color: #848484;
                        }
                      }
                    }
                    li.lik {
                      .red {
                        color: #ce5252 !important;
                      }
                    }
                    li.colle {
                      .green {
                        color: #81C784;
                      }
                    }
                  }
                  .besrt {
                    position: absolute;
                    visibility: hidden;
                    z-index: 13;
                    width: 400px;
                    background-color: #fff;
                    /*margin-top: 160px;*/
                    margin-left: 210px;
                    top:-10px;
                    /*top: 0;*/
                    /*margin-bottom: 60%;*/
                    -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.1);
                    -moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.1);
                    box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.1);
                    visibility: hidden;
                    .corw {
                      .ihgfr {
                        padding: 10px;
                        background-color: #fff;
                        width: 400px;
                      }
                    }
                    .descpoy {
                      padding: 10px;
                      .desert {
                        .trw {
                          margin:0px;
                          font-size: 14px;
                          font-weight: 600;
                          font-family: Robot, Helvetica, Arial;
                          color: #848484;
                        }
                        .bytr {
                          font-size: 14px;
                          color: #848484;
                          font-family: "FuturaPT-Medium", Roboto;
                          margin-top: 0px;
                          margin-bottom: 2px;
                        }
                        .cat {
                          @extend .bytr;
                          color: #9a9ba2;
                          font-family: "FuturaPT-Light", Roboto;
                        }
                        .sub {
                          @extend .cat;
                        }
                      }
                      .sertd {
                        .price {
                          font-size: 24px;
                          font-weight: 600;
                          font-family: Roboto;
                          color: #9a9ba2;
                        }
                      }
                    }
                  }
                }
              }
              .bgd_tre {
                padding-top: 10px;
                .btn_fret {
                  padding: 10px 25px;
                  border-radius: 3px;
                  color: #fff;
                  text-decoration: none;
                  font-size: 10px;
                  font-family: 'FuturaPT-Medium', Roboto, Helvetica, Arial;
                  text-transform: uppercase;
                }
                .kutr, .unfollow_btn {
                  padding: 10px 18px;
                  border-radius: 3px;
                  color: #fff;
                  text-decoration: none;
                  font-size: 10px;
                  font-family: 'FuturaPT-Medium', Roboto, Helvetica, Arial;
                  text-transform: uppercase;
                  background-color: #ff7878 !important;
                }
                .kute, ._follow_btn {
                  padding: 10px 25px;
                  border-radius: 3px;
                  color: #fff;
                  text-decoration: none;
                  font-size: 10px;
                  font-family: 'FuturaPT-Medium', Roboto, Helvetica, Arial;
                  text-transform: uppercase;
                  background-color: #1ad372 !important;
                }
                .kgf {
                  background-color: #AEB844;
                }
              }
              .bgdrj {
                ul {
                  li {
                    text-align: center;
                    .loloi {
                      color: #848484;
                      font-family: "bebas_neuebold", Helvetica, Arial, Roboto;
                      font-size: 14px;
                      letter-spacing: .3px;
                    }
                    .pot {
                      @extend .loloi;
                      margin: 0px;
                    }
                  }
                }
              }
            }
            .fol_bgal {
              width: 45%;
              padding:10px;
              padding-bottom: 0px;
              background-color: #fff;
              margin-right: 35px;
              margin-bottom: 20px;
              border-radius: 3px;
              -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
              -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
            }
            .bgfdgh {
              padding: 0px;
              width: 24%;
              .gh {
                background-color: #fff;
                margin-bottom: 20px;
                padding: 10px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                .titl {
                  padding-bottom: 20px;
                  p {
                    font-family: Roboto, Helvetica, Arial;
                    color: #a9afbb;
                    font-size: 12px;
                    font-weight: 600;
                    margin: 0px;

                    &:after {
                      position: absolute;
                      height: 3px;
                      width: 13px;
                      background-color: #5cbbf3;
                      content: "";
                      left: 13px;
                      margin-top: 20px;
                    }
                  }
                }
                .bfre {
                  li.jjjk {
                    margin-bottom: 10px;
                    padding-right: 0px !important;
                    span {
                      font-family: Roboto, Helvetica, Arial;
                      color: #a9afbb;
                      font-size: 11px;
                      font-weight: 400;
                      padding: 4px 6px;
                      border: 1px solid #eceef0;
                      border-radius: 2px;
                    }
                  }
                }
              }
              .mesad {
                form {
                  .form-group {
                    span {
                      font-family: Roboto, Helvetica, Arial;
                      color: #a9afbb;
                      font-size: 11px;
                      font-weight: 600;
                      text-transform: uppercase;
                    }
                    .vfe {
                      background-color: #fff;
                      border: 1px solid #eceef0 !important;
                      border-radius: 3px;
                      outline: none;
                      color: #848484;
                      box-shadow: none;
                      font-weight: 300;
                      font-family: Roboto, Helvetica, Arial;
                    }
                  }
                  .fbtn {
                    .nbhg {
                      padding: 8px 25px;
                      border-radius: 3px;
                      color: #fff;
                      background-color: #ff9e68;
                      text-decoration: none;
                      font-size: 10px;
                      font-family: 'FuturaPT-Medium', Roboto, Helvetica, Arial;
                      text-transform: uppercase;
                      border:none;
                      outline: none;
                    }
                  }
                }
                .gf {
                  span {
                    font-weight: 300;
                    font-family: Roboto, Helvetica, Arial;
                    color: #a9afbb;
                    a {
                      text-decoration: none;
                      color: #ff9e68;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .all_cta  {
    padding: 40px;
  }
}
