@media(min-width: 768px) {
  .wishlist {
    .brrroo {
      .gtre {
        .smu {
          padding: 0px !important;
          width: 29%;
          margin: 0px 15px;
          margin-bottom: 20px;
          border-radius: 2px;
          .kow {
            background-color: #fff;
            padding: 10px;
            padding-bottom: 5px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
            border-radius: 2px;
            .lwqrt {
              position: absolute;
              width: 208.16px;
              height: 139.11px;
              top: 10px;
              z-index: 999;
            }
            img {
              width: 100%;
            }
            .jhfre {
              padding-top: 5px;
              .itms {
                padding: 0px;
                margin: 0px;
                li {
                  padding: 0px;
                  margin: 0px;
                  padding-right: 10px;
                  padding-top: 0px;
                  .js {
                    font-size: 12px;
                    color: #b9b9b9;
                    margin-right: 2px;
                    font-weight: normal;
                  }
                  .dr {
                    font-size: 11px;
                    font-family: Roboto, "FuturaPT-Book", Helvetica, Arial;
                    color: #A1A1A1;
                    margin-left: 1px;
                    font-weight: 300;
                  }
                }
                .theme {
                  color: #0094d2;
                  font-size: 12px !important;
                }
              }
              .set_r {
                ul {
                  padding: 0px;
                  margin: 0px;
                  li {
                    padding-left: 8px;
                    a { 
                      text-decoration: none;
                      font-size: 14px;
                      font-weight: normal;
                      font-family: Roboto, "FuturaPT-Book", Helvetica, Arial;
                      color: #A1A1A1;
                      margin-left: 3px;
                      font-weight: 300;
                      outline: none;
                    }
                    .fdr {
                      font-size: 12px;
                      font-weight: normal;
                      color: #A1A1A1;
                    }
                    .klu {
                      font-size: 11px;
                      font-family: Roboto, "FuturaPT-Book", Helvetica, Arial;
                      color: #A1A1A1;
                      margin-left: 3px;
                      font-weight: 300;
                    }
                  }
                }
              }
            }
          }
          .htrew {
            position: absolute;
            z-index: 99;
            background-color: rgba(255,255,255,.9);
            width: 208px;
            height: 139px;
            top: 10px;
            margin-left: 10px;
            text-align: center;
            text-decoration: none;
            padding-top: 35px;
            opacity: 0;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            &:hover {
              opacity: 1;
              .keerr {
                visibility: visible;
              }
            }
            .jht {
              font-size: 2em;
              color: #dadada;
            }
            .hgt {
              font-size: 11px;
              font-family: Roboto, "FuturaPT-Book", Helvetica, Arial;
              color: #dadada;
              margin-left: 3px;
              font-weight: 600;
              text-transform: uppercase;
            }
          }
          .jit {
            height: 156px;
            background-color: transparent;
            .snap {
              text-decoration: none;
              padding-top: 45px;
              padding-bottom: 94px;
              padding-left: 180px;
              .fa {
                color: transparent;
              }
              .hgt {
                color: transparent;
              }
            }
            .amso {
              position: absolute;
              right: -2px;
              top: 0px;
              list-style: none;
              padding: 0px;
              z-index: 9;
              margin: 0px;
              li {
                padding: 3px 0px;
                padding-left: 8px;
                background-color: #fff !important;
                a {
                  text-decoration: none;
                  font-weight: normal;
                  color: #E8E8E8;
                  .fa {
                    font-size: 13px !important;
                  }
                }
                a.red {
                  color: #ce5252 !important;
                }
                a.green {
                  color: #81C784 !important;
                }
              }
              li.ckj {
                border-bottom-left-radius: 3px;
              }
            }
            .keerr {
              position: absolute;
              // visibility: hidden;
              z-index: 13;
              width: 350px;
              background-color: #fff;
              /* margin-top: 160px; */
              margin-left: 230px;
              top: -10px;
              /* top: 0; */
              /* margin-bottom: 60%; */
              -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.1);
              -moz-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.1);
              box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.1);
              visibility: hidden;
              .jfhd {
                .kjre {
                  padding: 10px;
                  background-color: #fff;
                  width: 350px;
                }
              }
              .kjhr {
                padding: 10px;
                .gfae {
                  text-align: left !important;
                  .jhtp {
                    margin: 0px;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: Roboto, Helvetica, Arial;
                    color: #848484;
                  }
                  .kjdtr {
                    font-size: 14px;
                    color: #848484;
                    font-family: "FuturaPT-Medium", Roboto;
                    margin-top: 0px;
                    margin-bottom: 2px;
                  }
                  .cat , .sub {
                    color: #9a9ba2;
                    font-family: "FuturaPT-Light", Roboto;
                  }
                }
                .jhdg {
                  .jhdy {
                    font-size: 24px;
                    font-weight: 600;
                    font-family: Roboto;
                    color: #9a9ba2;
                  }
                }
              }
            }
          }
        }
        .sku_ {
          display: none;
        }
      }
      .wish_zero {
        text-align: center;
        padding: 20px 20%;
        .hetj {
          line-height: 30px;
          font-size: 20px;
          font-family: "Roboto", Helvetica, Arial;
          color: #848484;
          font-weight: 400;
          text-transform: capitalize;
          margin-top: 35px;
          margin-bottom: 20px;
        }
        .bager {
          padding: 8px 40px;
          border-radius: 4px;
          background-color: #91ddeb;
          color: #fff;
          font-family: "FuturaPT-Demibold", Roboto, Helvetica, Arial;
          font-size: 12px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
          outline: none;
          text-decoration: none; 
        }
      }
    }
    .prek {
      .mnu_fuk {
        .pdjs {
          padding: 20px;
          p {
            font-size: 13px;
            font-family: Roboto, Helvetica, Arial;
            color: #a9afbb;
            font-weight: 300;
            line-height: 20px;
          }
        }
        .vgf {
          text-align: center;
          .bhgrw {
            padding: 8px 30px;
            outline: none;
            background-color: #91ddeb;
            font-size: 10px;
            font-family: Roboto, Helvetica, Arial;
            color: #fff;
            border-radius: 3px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
            border: none;
          }
        }
      }
    }
  }
  .kowo {
    padding: 7px !important;
    padding-bottom: 3.5px !important;
    .dskhdg087 {
      position: absolute;
      z-index: 9999;
      left: 0;
      width: 100%;
      padding-top: 20px;
      display: none;
      .alive {
        position: absolute;
        right: -4px;
        margin-top: -4px;
        width: 8px;
        height: 8px;
        background-color: #5cbbf4;
        border-radius: 100%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
        cursor: pointer;
      }
      .gfste5325 {
        padding: 6px;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
        .rev_it {
          border-color: #efefef;
          box-shadow: none;
          background-color: #fff;
          color: #878787;
          font-size: 12px;
          font-family: Roboto, Helvetica, Arial;
          font-weight: 300;
          border-radius: 2px;
        }
      }
    }
    .xion_xi {
      position: absolute;
      width: 93.6%;
      background-color: rgba(0, 0, 0, 0.2);
      height: 82%;
      top: 7px;
      .to_item_ {
        text-align: center;
        -ms-transform: translateY(130px); /* IE 9 */
        -webkit-transform: translateY(130px); /* Safari */
        transform: translateY(130px);
        transition: all .3s ease-in-out;
        visibility: hidden;
        a.lbh {
          padding: 10px 12px;
          border-radius: 100%;
          text-decoration: none;
          background-color: #039be5;
          color: #fff;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
        }
      }
      &:hover {
        .to_item_ {
          -ms-transform: translateY(70px); /* IE 9 */
          -webkit-transform: translateY(70px); /* Safari */
          transform: translateY(70px);
          visibility: visible;
        }
      }
    }
  }
  .ratinf_purc, .star-rating {
    img {
      width: 16px !important;
      height: 16px !important;
    }
  }
  .tmbl_job {
    width: 30.75%;
    padding:0;
    padding-bottom: 30px;
    .tmbl_it {
      background-color: #fff;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 2px;
      max-height: 250px;
      box-shadow: 0 1px 4px rgba(0,0,0,0.07);
      border-top:3px solid transparent;
      position: relative;
      cursor: pointer;
      &:hover {
        border-top:3px solid #8BC34A;
        box-shadow: 0 5px 20px rgba(0,0,0,0.2);
        -webkit-transition:all .3s ease-in-out;
        -moz-transition:all .3s ease-in-out;
        transition:all .3s ease-in-out;
        .btn-gri {
          .nht {
            border-top-color: #8BC34A;
            -webkit-transition:all .3s ease-in-out;
            -moz-transition:all .3s ease-in-out;
            transition:all .3s ease-in-out;
            a {
              span {
                color: #8BC34A
              }
            }
          }
          .lf_re {
            border-right-color: #8BC34A;
            -webkit-transition:all .3s ease-in-out;
            -moz-transition:all .3s ease-in-out;
            transition:all .3s ease-in-out;
          }
        }
      }
      .timeandopt, .detail {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        .tme {
          font-family: Roboto;
          font-size: 12px;
          color: #93a2ab;
          font-weight: 300;
          &:before {
            content:"\f133";
            font-family: "FontAwesome";
            font-size: 12px;
            color: #93a2ab;
            padding-right: 5px;
          }
        }
        .nanan_ {
          position: absolute;
          width: 6px;
          height: 6px;
          background-color: #8bc34a;
          border-radius: 10px;
          top: -5px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
          left: -3px;
        }
        .fa {
          font-size: 14px;
          color: #93a2ab;
        }
        .all_we {
          list-style: none;
          opacity: 0;
          padding: 0px;
          position: absolute;
          border-radius: 4px;
          right: -2px;
          padding-top: 1px;
          .more {
            padding: 5px 10px;
            background-color: #91ddeb;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
            text-align: center;
            a {
              padding: 1px;
              .fa {
                color: #fff !important;
              }
              .fa-trash {
                font-size: 15px;
              }
            } 
          }
          .li1 {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            border-bottom: 1px solid #7fd8e8;
          }
          .li2 {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
          }
          &:before {
            content: "";
            width: 0;
            position: absolute;
            height: 0;
            margin-top: -6px;
            margin-left: 10px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #91ddeb;
          }
        }
        .this_active {
          opacity: 1;
        }
      }
      .who_uo {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 10px;
        height: 175px;
        a.kjrd {
          text-decoration: none;
          img {
            border-radius: 100%;
            padding: 5px; 
            background-color: #fff;
            box-shadow: inset 0 2px 4px rgba(0,0,0,0.09);
          }
          .who_am {
            color: #93a2ab;
            font-family: "FuturaPT-Medium";
            font-size: 14px;
          }
        }
        a.vbg {
          text-decoration: none;
          p {
            font-size: 16px;
            color: #232d2f;
            font-family: "FuturaPT-Medium";
            text-transform: capitalize;
          }
        }
      }
      .btn-gri {
        text-align: center;
        .nht {
          padding: 10px 0px;
          text-align: center;
          border-top: 1px solid rgba(147,162,171,.3);
          a {
            font-family: "FuturaPT-Book";
            font-size: 14px;
            text-decoration: none;
            color: #93a2ab;
            span {
              color: #232d2f;
              font-family: "FuturaPT-Bold";
            }
          }
        }
        .lf_re {
          border-right: 1px solid rgba(147,162,171,.3);
        }
      }
    }
  }
}
.klrt {
  .modal-dialog {
    width: 480px;
    .modal-content {
      background-color: #f7f8fc !important;
      border: none;
      border-radius: 3px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
      .modal-header {
        .close {
          margin-top: -5px;
          outline: none;
          .fa {
            font-size: 14px;
            font-weight: normal;
            color: #3f51b5;
          }
        }
        .modal-title {
          color: #848484;
          font-size: 12px;
          font-weight: 500;
          font-family: Roboto, Helvetica, Arial;
          margin: 0;
        }
      }
      .modal-body {
        .gtr {
          text-align: center;
          p {
            color: #848484;
            font-size: 12px;
            font-weight: 500;
            font-family: Roboto, Helvetica, Arial;
            margin: 0;
            a {
              text-decoration: none;
              color: #039be5;
            }
          }
        }
        .see_u_agn {
          margin-top: 15px;
          .vty {
            outline: none;
            box-shadow: none;
            border-color: #eef1f8;
            border-radius: 3px;
            font-family: Roboto, Helvetica, arial;
            font-size: 14px;
            color: #848484;
            padding: 10px 20px;
            font-weight: 400;
            background-color: #fff;
          }
        }
        .ouyr {
          padding: 8px 30px;
          border-radius: 4px;
          background-color: #91ddeb;
          color: #fff;
          font-family: Roboto, Helvetica, Arial;
          font-size: 11px;
          font-weight: 500;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.09);
          outline: none;
          border: none;
          text-transform: uppercase;
        }
        .mita {
          ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
              input[type="checkbox"] {
                display:none;
              }
              input[type="checkbox"] + label span.klew {
                width:19px;
                height:19px;
                margin:-1px 4px 0 0;
                display:inline-block;
                vertical-align:middle;
                background-image: url("chk/wtf_u.png");
                background-repeat: no-repeat;
                cursor:pointer;
              }
              input[type="checkbox"]:checked + label span.klew {
                background-image: url("chk/wtf_h.png");
                background-repeat: no-repeat;
              }
              .jutr {
                font-family: Roboto, Helvetica, Arial;
                font-weight: 300;
                color: #848484;
                font-size: 13px;
                &:before {
                  content: "\f192";
                  font-family: "FontAwesome";
                  font-size: 14px;
                  margin-right: 8px;
                }
              }
              .aku_ {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }
}
