@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?2nn8ak');
    src:    url('fonts/icomoon.eot?2nn8ak#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2nn8ak') format('truetype'),
        url('fonts/icomoon.woff?2nn8ak') format('woff'),
        url('fonts/icomoon.svg?2nn8ak#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon_2.eot?5heoc9');
    src:    url('fonts/icomoon_2.eot?5heoc9#iefix') format('embedded-opentype'),
        url('fonts/icomoon_2.ttf?5heoc9') format('truetype'),
        url('fonts/icomoon_2.woff?5heoc9') format('woff'),
        url('fonts/icomoon_2.svg?5heoc9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon_3.eot?p9urs8');
    src:    url('fonts/icomoon_3.eot?p9urs8#iefix') format('embedded-opentype'),
        url('fonts/icomoon_3.ttf?p9urs8') format('truetype'),
        url('fonts/icomoon_3.woff?p9urs8') format('woff'),
        url('fonts/icomoon_3.svg?p9urs8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon_4.eot?p9urs8');
    src:    url('fonts/icomoon_4.eot?p9urs8#iefix') format('embedded-opentype'),
        url('fonts/icomoon_4.ttf?p9urs8') format('truetype'),
        url('fonts/icomoon_4.woff?p9urs8') format('woff'),
        url('fonts/icomoon_4.svg?p9urs8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon_5.eot?6lkan8');
    src:    url('fonts/icomoon_5.eot?6lkan8#iefix') format('embedded-opentype'),
        url('fonts/icomoon_5.ttf?6lkan8') format('truetype'),
        url('fonts/icomoon_5.woff?6lkan8') format('woff'),
        url('fonts/icomoon_5.svg?6lkan8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?2nn8ak');
    src:    url('fonts/icomoon.eot?2nn8ak#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2nn8ak') format('truetype'),
        url('fonts/icomoon.woff?2nn8ak') format('woff'),
        url('fonts/icomoon.svg?2nn8ak#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon_2.eot?5heoc9');
    src:    url('fonts/icomoon_2.eot?5heoc9#iefix') format('embedded-opentype'),
        url('fonts/icomoon_2.ttf?5heoc9') format('truetype'),
        url('fonts/icomoon_2.woff?5heoc9') format('woff'),
        url('fonts/icomoon_2.svg?5heoc9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon_3.eot?p9urs8');
    src:    url('fonts/icomoon_3.eot?p9urs8#iefix') format('embedded-opentype'),
        url('fonts/icomoon_3.ttf?p9urs8') format('truetype'),
        url('fonts/icomoon_3.woff?p9urs8') format('woff'),
        url('fonts/icomoon_3.svg?p9urs8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon_4.eot?p9urs8');
    src:    url('fonts/icomoon_4.eot?p9urs8#iefix') format('embedded-opentype'),
        url('fonts/icomoon_4.ttf?p9urs8') format('truetype'),
        url('fonts/icomoon_4.woff?p9urs8') format('woff'),
        url('fonts/icomoon_4.svg?p9urs8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon_5.eot?6lkan8');
    src:    url('fonts/icomoon_5.eot?6lkan8#iefix') format('embedded-opentype'),
        url('fonts/icomoon_5.ttf?6lkan8') format('truetype'),
        url('fonts/icomoon_5.woff?6lkan8') format('woff'),
        url('fonts/icomoon_5.svg?6lkan8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}



[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-magento:before {
    content: "\e950";
}
.icon-ionic:before {
    content: "\e951";
}
.icon-shopify:before {
    content: "\e952";
}
.icon-ghost:before {
    content: "\e953";
}

.icon-d:before {
    content: "\e900";
}
.icon-code:before {
    content: "\e901";
}
.icon-course:before {
    content: "\e902";
}
.icon-font:before {
    content: "\e903";
}
.icon-graph:before {
    content: "\e904";
}
.icon-photo:before {
    content: "\e905";
}
.icon-theme:before {
    content: "\e906";
}
.icon-video:before {
    content: "\e907";
}
.icon-cart_2:before {
    content: "\e920";
}
.icon-cart_3:before {
    content: "\e921";
}
.icon-price:before {
    content: "\e922";
}
.icon-collection_1:before {
    content: "\e925";
}
.icon-heart_1:before {
    content: "\e926";
}
.icon-magento:before {
    content: "\e950";
}
.icon-ionic:before {
    content: "\e951";
}
.icon-shopify:before {
    content: "\e952";
}
.icon-ghost:before {
    content: "\e953";
}

.icon-d:before {
    content: "\e900";
}
.icon-code:before {
    content: "\e901";
}
.icon-course:before {
    content: "\e902";
}
.icon-font:before {
    content: "\e903";
}
.icon-graph:before {
    content: "\e904";
}
.icon-photo:before {
    content: "\e905";
}
.icon-theme:before {
    content: "\e906";
}
.icon-video:before {
    content: "\e907";
}
.icon-cart_2:before {
    content: "\e920";
}
.icon-cart_3:before {
    content: "\e921";
}
.icon-price:before {
    content: "\e922";
}
.icon-collection_1:before {
    content: "\e925";
}
.icon-heart_1:before {
    content: "\e926";
}

