<div class="nested-fields dhsdgjey">
  <div class="djks pull-left">
    <%= f.text_field :content, class: 'form-control eorf', placeholder: "List note" %>
  </div>
  <%= link_to_remove_association f, class: "btn btn-default shgk mater", style: "font-weight: normal;" do %>
    <span class="fa fa-trash-o"></span>
  <% end %>
</div>

